@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "All Products";
}

<form method="post">
    <input type="text" name="productName" />
    <button type="submit">Search</button>
</form>

<div class="card" style="width: 18rem">
    <div class="card-header">
        @ViewBag.Title
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var product in Model)
        {
            <li class="list-group-item">
                N: @product.Id <strong>@product.Name</strong> - @product.Price lv.
            </li>
        }
    </ul>
</div>
