
@{
    ViewData["Title"] = "User Register";
}

<form action="" class="user-form">
    <div class="user-fields-container">
        <label for="userName" class="user-label">User Name</label>
        <input type="text" name="userName" class="input-username">

        <label for="email" class="user-label">Email</label>
        <input type="email" name="email" class="input-email">

        <label for="password" class="user-label">Password</label>
        <input type="password" name="password" class="input-password">

        <label for="confirmPass" class="user-label">Confirm Password</label>
        <input type="password" name="confirmPass" class="input-confirmPass">

        <input type="submit" class="btn-register" value="Register">
    </div>

</form>